* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// html {
//     overflow-x: hidden;
//     margin-right: calc(-1 * (100vw - 100%));
// }
html,
body {
    height: 100%;
    // overflow-y: overlay;
}

button,
button:hover,
li:hover,
a:hover,
li,
a,
*:hover,
* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

header {
    flex: 1 0 auto;
}

.content {
    flex: 1 0 auto;
    // padding: 0 15px 0 0;
}

footer {
    flex: 0 0 auto;
}

img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

input {
    outline: none;
}

textarea {
    outline: none;
    resize: none;
}

button {
    outline: 0;
    border: none;
    cursor: pointer;
}

.button {
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #394001;
    background-color: #cee355;
    padding: 15px 21px 15px 25px;
    border-radius: 12px;
    box-shadow: 0 6px #7e9111, 0 12px #1f4a61;
    transition: all .3s;
    @media (min-width: 1201px) {
        &:hover {
            transform: translateY(6px);
            transition: all .3s;
            box-shadow: 0 6px #1f4a61;
        }
    }
}

.social {
    svg {
        cursor: pointer;
        width: 32px;
        height: 32px;
        fill: #ffffff;
        transition: fill .3s;
        @media (min-width: 1201px) {
            &:hover {
                transition: fill .3s;
                fill: #2ab8c5;
            }
        }
    }
}

select {
    padding: 8px 9px 7px 10px;
    border: 1px solid #2d556c;
    background-color: #092430;
    border-radius: 8px;
    width: 122px;
    position: relative;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    background-image: url(../icons/down.png);
    background-repeat: no-repeat;
    background-position: right -0.3em top 50%, 0 0;
    background-size: 2.65em auto, 100%;
    transition: opacity .3s;
    @media (min-width: 1201px) {
        &:hover {
            opacity: 0.5;
            transition: opacity .3s;
        }
    }
}