.footer {
    background-color: #0f303f;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 26px 0 34px 0;
        &-security {
            display: flex;
            align-items: center;
            img {
                margin-right: 43px;
            }
            @media (min-width: 577px) {
                select {
                    display: none;
                }
            }
            a {
                margin-right: 20px;
                position: relative;
                &::after {
                    position: absolute;
                    content: '|';
                    right: -15px;
                    color: #2c5871;
                }
                &:last-child {
                    margin-right: 0;
                    &::after {
                        content: none;
                    }
                }
                span {
                    font-size: 16px;
                    line-height: 18px;
                    font-weight: 400;
                    color: #2c5871;
                    transition: color .3s;
                    @media (min-width: 1201px) {
                        &:hover {
                            color: white;
                            transition: color .3s;
                            &::after {
                                color: #2c5871;
                            }
                        }
                    }
                }
            }
        }
    }
    @media (min-width: 769px) {
        &__mobile {
            display: none;
        }
    }
}