@media (max-width: 992px) {
    .header {
        &__registration {
            &-wrapper {
                justify-content: space-between;
                .social {
                    display: block;
                }
            }
        }
        .menu {
            &__list {
                &-items {
                    &-li {
                        margin-right: 25px;
                    }
                }
            }
            .logo {
                img {
                    width: 170px;
                }
            }
            .social {
                display: none;
            }
        }
    }
}

@media (max-width: 768px) {
    .header {
        &__registration {
            padding: 0 18px;
            position: fixed;
            width: 100%;
            z-index: 2;
            .header__registration-wrapper {
                justify-content: space-between;
                .social {
                    display: none;
                }
                select {
                    display: none;
                }
            }
        }
        .hamburger {
            display: flex;
        }
        .container {
            padding: 0;
            .menu {
                flex-direction: column;
                align-items: center;
                justify-content: center;
                background: #0f303f;
                width: 80%;
                height: 100vh;
                margin: 0;
                padding: 20px;
                transform: translateX(-100%);
                transition: 1s all;
                position: absolute;
                border-right: 2px solid white;
                &__list {
                    &-close {
                        display: block;
                        position: absolute;
                        top: 20px;
                        right: 30px;
                    }
                    &-items {
                        flex-direction: column;
                        &-li {
                            margin: 0;
                            padding: 20px 0;
                            text-align: center;
                            a {
                                color: white;
                            }
                        }
                    }
                }
                .active {
                    padding: 5px 20px;
                    margin: 20px 0;
                }
                .logo {
                    display: none;
                }
            }
            .active {
                transition: 1s all;
                transform: translateX(0);
                z-index: 2;
            }
        }
    }
}

@media (max-width: 576px) {
    .header {
        flex: unset;
        .container {
            .menu {
                z-index: 10;
                width: 100%;
                border-right: unset;
            }
        }
    }
}