@media (max-width: 1200px) {
    .offer {
        .container {
            grid-template-columns: 45% 55%;
            .offer__wrapper {
                .subtitle {
                    font-size: 38px;
                }
            }
            .offer__tabs {
                &::after {
                    right: 65px;
                }
                &-text {
                    top: 25%;
                }
            }
        }
    }
}

@media (max-width: 992px) {
    .offer {
        .container {
            grid-template-columns: unset;
            .offer__tabs {
                margin-top: 100px;
                &::after {
                    right: 162px;
                }
                &-bg {
                    left: 70px;
                }
                &-text {
                    width: 50%;
                    top: 32%;
                    right: 25%;
                    .title {
                        padding: 0 30px;
                    }
                }
                .two {
                    transform: translate(165px, -30px);
                }
                .four {
                    transform: translate(165px, 20px);
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .offer {
        .container {
            padding: 0;
            width: 570px;
            .offer__tabs {
                &::after {
                    right: 87px;
                }
                .two {
                    transform: translate(90px, -30px);
                }
                .four {
                    transform: translate(90px, 20px);
                }
                &-text {
                    top: 22%;
                }
                &-bg {
                    left: -13px;
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .offer {
        padding-top: 70px;
        padding-bottom: 0;
        .container {
            padding: 0 10px;
            width: 100%;
            .offer__wrapper {
                .title {
                    font-size: 22px;
                    text-align: right;
                    display: block;
                    &::after {
                        left: -3px;
                    }
                }
                .subtitle {
                    font-size: 28px;
                }
            }
            .offer__tabs {
                width: 300px;
                margin: 0 auto;
                margin-top: 60px;
                margin-bottom: 15px;
                grid-template-rows: 74px 150px 100px 30px;
                &::after {
                    width: 275px;
                    height: 276px;
                    background-size: cover;
                    right: 15px;
                }
                .two {
                    transform: translate(5px, -50px);
                }
                .three {
                    transform: translate(105px, -50px);
                }
                .four {
                    transform: translate(5px, -40px);
                }
                .five {
                    transform: translate(105px, -40px);
                }
                .six {
                    transform: translate(-19px, -40px);
                }
                &-text {
                    width: 63%;
                    right: 19%;
                    top: 30%;
                    .title {
                        font-size: 17px;
                        padding: 0;
                    }
                    .descr {
                        display: none;
                    }
                }
                &-bg {
                    display: none;
                }
            }
        }
    }
}